---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero-pic-v3.svg";
import Section from "./Section.astro";
---

<Section id="home">
  <div
    class="grid grid-cols-1 grid-template md:grid-cols-2 md:grid-rows-1 mt-[135px]"
  >
    <div class="flex flex-col w-full lg:w-[66.5%]">
      <h1>Democratizando la experiencia en <span class="primaryhead">conciertos</span></h1>
    </div>
    <picture class="row-span-1 md:row-span-3">
      <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </picture>
    <div class="w-full lg:w-[66.5%]">
      <p class="my-[35px]">
        Conecta con tus artistas favoritos a través de donaciones voluntarias y accede a experiencias únicas e interacciones especiales durante conciertos en vivo, sin importar el precio de tu boleta.
      </p>
      <a href="#footer" class="btn-primary w-full md:w-auto inline-block text-center">Conoce más sobre Fandi</a>
    </div>
  </div>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>
