---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Cómo Funciona Fandi: Tu Camino a Experiencias Únicas en Conciertos";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Cómo Funciona"
      description={description}
    />
    <Accordion />
  </div>
</Section>
