---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic-new.svg";
---

<Section>
  <Card>
    <div
      class="flex bg-light-gray rounded-[45px] p-[60px] relative mt-[180px] mb-[180px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2>Hagamos que la magia suceda</h2>
        <p>
          ¿Eres organizador de eventos o artista? Contactanos hoy para descubrir cómo Fandi puede revolucionar la experiencia en tus conciertos y crear conexiones más profundas con tu audiencia.
        </p>
        <a href="#footer" class="btn-primary">Solicita una demo gratuita</a>
      </div>
      <picture
        class="hidden md:flex absolute right-[-10%] lg:right-0 top-[-15%] h-[450px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
