---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Testimonios"
      description="Escucha las Experiencias Reales: Lee los testimonios de artistas, organizadores y fans que han vivido la magia de Fandi"
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-white">
      <SwiperSlider />
    </div>
  </div>
</Section>
